#bgimage {
	background-image:url(../img/coaches_bg.jpg);
}

.contentContainer{
	position:absolute;
	top:45%;
	left:44%;
	height:40%;
	width:44%;
	background-color: rgba(255,255,255,0.8);
	border-bottom:10px solid #FF7F00;
}
/*.contentBox{
	position: absolute;
	top:12%;
	left:4%;
	overflow-y: auto;
	width: 93%;
	height: 80%;
}
*/
#coach ul{
/*	position:absolute;*/
/*	top:30%;*/
/*	width:100%;*/
}

#coach {
	position:absolute;
	top:101px;
	left:0%;
	width::100%;
	height:100%;
	list-style-type:none;
}
#craig{
	position:fixed;
	left:0%;
	width:20%;
	height:100%;
}

#jacob{
	position:fixed;
	left:20%;
	width:20%;
	height:100%;
}
#adena{
	position:fixed;
	left:40%;
	width:20%;
}
#ben{
	position:fixed;
	left:60%;
	width:20%;
}

#heather{
	position:fixed;
	left:80%;
	width:20%;
}

#heather.hover{

}