body{
	background-image:url(../img/coaches_bg.jpg);
	background-size:cover;
	
}
#bgimage {
	background-image:url(../img/coaches_bg.jpg);
}
.contentContainer{
	background-color: rgba(255,255,255,0.8);
	border-bottom:8px solid #ee4823;
}
#cont1{
	position:absolute;
	top:45%;
	left:5%;
	height:47%;
	width:22%;
	display:none;	
}
#cont2{
	position:absolute;
	top:45%;
	left:20%;
	height:47%;
	width:22%;
	display:none;	
}
#cont3{
	position:absolute;
	top:45%;
	left:40%;
	height:47%;
	width:22%;
	display:none;	
}
#cont4{
	position:absolute;
	top:45%;
	left:60%;
	height:47%;
	width:22%;	
	display:none;
}#cont5{
	position:absolute;
	top:45%;
	left:75%;
	height:47%;
	width:20%;
	display:none;	
}
.mCSB_container{
	padding-right:0px;	
}

.contentBox h1 {
	font-size:32px;
	padding:0px 0px 15px;
}

.contentBox p {
	font-size:16px;
	line-height:20px;
	padding-right:6px;
}

.contentBox ul li {
	padding-right:10px;
}

#coach ul{
/*	position:absolute;*/
/*	top:30%;*/
/*	width:100%;*/
}

/*#coach {
	position:absolute;
	top:101px;
	left:0%;
	width::100%;
	height:100%;
	list-style-type:none;
}*/
#craig{
	position:fixed;
	top:15%;
	left:-9%;
	width:42%;
	height:100%;
}

#jacob{
	position:fixed;
	top:15%;
	left:25%;
	width:19%;
	height:100%;
}
#adena{
	position:fixed;
	top:15%;
	left:45%;
	width:20%;
	height:100%;
}
#ben{
	position:fixed;
	top:15%;
	left:58%;
	width:32%;
	height:100%;
}

#heather{
	position:fixed;
	top:15%;
	left:73%;
	width:38%;
	height:100%;
}
@media(max-width : 1024px) {
#cont1{

	left:5%;
	height:47%;
	width:40%;
	display:none;	
}
#cont2{
	position:absolute;

	left:20%;
	height:47%;
	width:40%;
	display:none;	
}
#cont3{
	position:absolute;

	left:35%;
	height:47%;
	width:40%;
	display:none;	
}
#cont4{
	position:absolute;

	left:50%;
	height:47%;
	width:40%;	
	display:none;
}#cont5{
	position:absolute;

	left:55%;
	height:47%;
	width:40%;
	display:none;	
}
}

@media(max-width : 900px) and (orientation:landscape){
	
	
}
@media(max-width : 768px) and (orientation:landscape){

	
}
@media(max-width : 600px) and (orientation:landscape){
	
}
@media(max-width : 600px) and (orientation:portrait){
	
}
@media(max-width : 500px) and (orientation:landscape){


}
@media(max-width : 500px) and (orientation:portrait){
#cont1{
	top:45%;
	left:5%;
	height:47%;
	width:90%;
	display:none;	
}
#cont2{
	position:absolute;
	top:45%;
	left:5%;
	height:47%;
	width:90%;
	display:none;	
}
#cont3{
	position:absolute;
	top:45%;
	left:5%;
	height:47%;
	width:90%;
	display:none;	
}
#cont4{
	position:absolute;
	top:45%;
	left:5%;
	height:47%;
	width:90%;	
	display:none;
}#cont5{
	position:absolute;
	top:45%;
	left:5%;
	height:47%;
	width:90%;
	display:none;	
}	

}
@media(max-width : 320px) and (min-width : 0px) and (orientation:landscape){
	
}
@media(max-width : 320px) and (min-width : 0px)and (orientation:portrait){
	
}