#bgimage {
	background-image:url(../img/coaches_bg.jpg);
}
.contentContainer{
	position:absolute;
	top:40%;
	left:30%;
	height:30%;
	width:25%;
}

#coach ul{
/*	position:absolute;*/
/*	top:30%;*/
	width:100%;
}

#coach #craig{
	position:fixed;
	left:3%;
	top:150px;
	float:left;
	list-style-type:none;
}

#coach #jacob{
	position:fixed;
	left:25%;
	top:150px;
	float:left;
	list-style-type:none;
}

#coach #adena{
	position:fixed;
	right:39%;
	top:150px;
	float:left;
	list-style-type:none;
}

#coach #ben{
	position:fixed;
	right:20%;
	top:150px;
	float:left;
	list-style-type:none;
}

#coach #heather{
	position:fixed;
	right:3%;
	top:150px;
	float:left;
	list-style-type:none;
}