#bgimage {
	background-image:url(../img/contactus.jpg);
	background-size:100% 100%;
	width:100%;
	height:100%;
}
#leftCont{
	position: relative;
	left: 100px;
	top: 150px;
}
#rightCont{
	position: relative;
	left: 0px;
	top: 150px;
}

#googleMapCont{
	background-color:#999;
	width:300px;
	height:250px;
	
}
#infoCont{
	position: absolute;
	left: 10%;
	top: 60%;
	width: 60%;
	height: 30%;
}
.textLabel{
	color: rgb(255,127,0);
	text-transform:uppercase;
	font-weight: bold;
	font-family: "Helvetica-Condensed", sans-serif;
	font-size:20px;
	letter-spacing:1px;
}
.textInfo{
	color: rgb(255,255,255);
	font-family: "Helvetica-Condensed", sans-serif;
	font-size:18px;
}

input[type="text"]{
	background-color:rgba(0,0,0,0.8);
	height:30px;
	padding: 5px 8px;
	font-family: "Helvetica-Condensed", sans-serif;
	letter-spacing: 1px;
	font-weight: 900;
	width: 200px;
	color:white;
	border-radius:0;
	padding: 5px 8px;
	font-weight: bold;
	font-size:16px;
}
textarea{
	background-color:rgba(0,0,0,0.8);
	width: 350px;
	color:white;
	border-radius:0;
	font-family: "Helvetica-Condensed", sans-serif;
	font-weight: bold;
	font-size:16px;
}
input:-moz-placeholder,textarea:-moz-placeholder{color:#fff}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ff}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#fff}

textarea:focus, input[type="text"]:focus {   
border-color: rgba(255, 127, 0,0.8);
box-shadow: 0 1px 1px rgba(255, 127, 0,0.8) inset, 0 0 8px rgba(255, 127, 0,1);
outline: 0 none;}

 
