#bgimage {
	background-image:url(../img/contactus.jpg);
}
#leftCont{
	position: relative;
	left: 100px;
	top: 150px;
}

#googleMapCont{
	background-color:#999;
	width:250px;
	height:250px;
	
}
#infoCont{
	position: absolute;
	left: 10%;
	top: 60%;
	width: 60%;
	height: 30%;
}
.textLabel{
	color: rgb(255,127,0);
	text-transform:uppercase;
	font-weight: bold;
	font-family: "Helvetica-Condensed", sans-serif;
	font-size:20px;
	letter-spacing:1px;
}
.textInfo{
	color: rgb(255,255,255);
	font-family: "Helvetica-Condensed", sans-serif;
	font-size:18px;
}
#formCont{
	position:absolute;
	left:50%;
	top:25%;
	
}