.bgimage{
	background-image:url(../img/contactus.jpg);
	/*background-size: cover;*/
}
#contentWrap{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height:100%;
	
}

#leftCont{
	position: relative;
	left: 10%;
	top: 20%;
	/*width: 40%;*/
}
#rightCont{
	position: relative;
	left: 0%;
	top: 20%;
	/*width: 60%;*/	
}

#googleMapCont{
	background-image:url(../img/map.jpg);
	background-size: 100% 100%;
	background-color:#999;
	width:300px;
	height:250px;
	
}
#tickCont{
	position:relative;
	background-image:url(../img/check.png);
	background-size: 100% 100%;
	width:200px;
	height:150px;
		
}
#infoCont{
	position: absolute;
	left: 10%;
	top: 60%;
	width: 60%;
	height: 30%;
}
.textLabel{
	color: rgb(255,127,0);
	text-transform:uppercase;
	font-weight: bold;
	font-family: "Helvetica-Condensed", sans-serif;
	font-size:20px;
	letter-spacing:1px;
}
.textInfo{
	color: rgb(255,255,255);
	font-family: "Helvetica-Condensed", sans-serif;
	font-size:18px;
}

input[type="text"]{
	background-color:rgba(0,0,0,0.8);
	height:30px;
	padding: 5px 8px;
	font-family: "Helvetica-Condensed", sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	width: 300px;
	color:white;
	border-radius:0;
	padding: 5px 8px;
	font-weight: bold;
	font-size:16px;
	margin:10px;
}
#nameResponse{
	color:#F00;
	font-family: "Helvetica-Condensed", sans-serif;
	font-size:18px;
	font-weight:bold;
	height:30px;
	width:318px;	
}
#emailResponse{
	color:#F00;
	font-family: "Helvetica-Condensed", sans-serif;
	font-size:18px;
	font-weight:bold;
	height:30px;
	width:318px;
}
#messageResponse{
	color:#F00;
	font-family: "Helvetica-Condensed", sans-serif;
	font-size:18px;
	font-weight:bold;
	height:30px;
	width:318px;	
}
textarea{
	background-color:rgba(0,0,0,0.8);
	width: 450px;
	color:white;
	border-radius:0;
	font-family: "Helvetica-Condensed", sans-serif;
	font-weight: bold;
	font-size:16px;
	resize:none;
	margin:10px;
}
#form1Submit{
	position:absolute;
	left:390px;	
	background:none;
	border:none;
}
#response{
	color:white;
	font-family: "Helvetica-Condensed", sans-serif;
	font-weight: bold;
	font-size:16px;
}
#iconCont{
	position: absolute;
	left: 390px;
}
.iconImage{
	height:35px;
	width:35px;	
	
}
.error{
	color: #F00;
	display: inline;
	font-family: "Helvetica-Condensed", sans-serif;
	letter-spacing: 1px;
	font-size: 18px;	
}
input:-moz-placeholder,textarea:-moz-placeholder{color:#fff}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ff}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#fff}

textarea:focus, input[type="text"]:focus {   
border-color: rgba(255, 127, 0,0.8);
box-shadow: 0 1px 1px rgba(255, 127, 0,0.8) inset, 0 0 8px rgba(255, 127, 0,1);
outline: 0 none;}

/*
.container-fluid{
padding-right:0;
padding-left:0;	
	
}

@media (min-width: 769px) and (max-width: 979px) {
	#leftCont{
		left: 3%;
		top: 20%;
		width: 35%;
	}
	#rightCont{
		left: 45%;
		top: 20%;
		width: 60%;	
	}
	#googleMapCont{
		background-image:url(../img/map.jpg);
		background-size: 100% 100%;
		background-color:#999;
		width:275px;
		height:225px;
	}
	.textLabel{
		font-weight: bold;
		font-size:18px;
		letter-spacing:1px;
	}
	.textInfo{
		font-size:16px;
	}
	
	input[type="text"]{
		background-color:rgba(0,0,0,0.8);
		height:28px;
		padding: 5px 8px;
		font-family: "Helvetica-Condensed", sans-serif;
		letter-spacing: 1px;
		font-weight: 900;
		width: 180px;
		color:white;
		border-radius:0;
		padding: 5px 8px;
		font-weight: bold;
		font-size:15px;
	}
	textarea{
		background-color:rgba(0,0,0,0.8);
		width: 300px;
		color:white;
		border-radius:0;
		font-family: "Helvetica-Condensed", sans-serif;
		font-weight: bold;
		font-size:15px;
	}
	#form1Submit{
		position:absolute;
		left:250px;	
	}
	
 }
*/ 
/* Landscape phone to portrait tablet */
/*@media (max-width: 768px) {
	#leftCont{
		left: 3%;
		top: 20%;
		width: 35%;
	}
	#rightCont{
		left: 45%;
		top: 20%;
		width: 60%;	
	}
	#googleMapCont{
		width:200px;
		height:150px;
	}
	.textLabel{
		font-weight: bold;
		font-size:16px;
		letter-spacing:1px;
	}
	.textInfo{
		font-size:14px;
	}
	
	input[type="text"]{
		height:22px;
		padding: 5px 8px;
		font-family: "Helvetica-Condensed", sans-serif;
		letter-spacing: 1px;
		font-weight: 900;
		width: 180px;
		color:white;
		border-radius:0;
		padding: 5px 8px;
		font-weight: bold;
		font-size:15px;
	}
	textarea{
		background-color:rgba(0,0,0,0.8);
		width: 250px;
		color:white;
		border-radius:0;
		font-family: "Helvetica-Condensed", sans-serif;
		font-weight: bold;
		font-size:15px;
	}
	#form1Submit{
		position:absolute;
		left:250px;	
	}
	


}
*/
/* Landscape phones and down */
@media (max-width: 480px) { ... }