/*------AUTHOR: ONMEDIA.CO------*/

/*------HOME CAROUSEL------*/
#homeCarousel,
.homeBG {
	width:100%;
	height:100%;
	z-index: 0;
	position: fixed
}
.carousel-inner,
.item img,
.item
{
	width:100% !important;
	height:100% !important;
}
/*------BACKGROUND IMAGE------*/
.bgimage {
	display: none;
	background-image:url(../img/About/home-Image-1.jpg);
}
/*------MEDIA QUERY: 960(LANDSCAPE)------*/
@media(max-width : 960px) and (orientation:landscape){
	/*------BACKGROUND IMAGE------*/
	.bgimage {
		display: block;
	}
	/*------HOME CAROUSEL------*/
	#homeCarousel,
	.homeBG,
	.carousel-inner,
	.item img,
	.item {
		display: none;
	}
}
/*------MEDIA QUERY: 640(PORTRAIT)------*/
@media(max-width : 640px) and (orientation:portrait){
	/*------BACKGROUND IMAGE------*/
	.bgimage {
		display: block;
		background-image:url(../img/About/home-Image-1-768.jpg);
	}
	/*------HOME CAROUSEL------*/
	#homeCarousel,
	.homeBG,
	.carousel-inner,
	.item img,
	.item {
		display: none;
	}
}