#homeCarousel,
.homeBG {
	width:100%;
	height:100%;
	z-index: 0;
	position: fixed
}
.bgimage {
	display: none;
	background-image:url(../img/About/home-Image-1.jpg);
}
/*.contentContainer{
	position:absolute;
	top:47%;
	left:54%;
	height:30%;
	width:34%;
}*/
.carousel-inner,
.item img,
.item
{
	width:100% !important;
	height:100% !important;
}

@media(max-width : 960px) and (orientation:landscape){
	.bgimage {
		display: block;
	}

	#homeCarousel,
	.homeBG,
	.carousel-inner,
	.item img,
	.item {
		display: none;
	}
}
@media(max-width : 640px) and (orientation:portrait){
	.bgimage {
		display: block;
		background-image:url(../img/About/home-Image-1-768.jpg);
	}

	#homeCarousel,
	.homeBG,
	.carousel-inner,
	.item img,
	.item {
		display: none;
	}
}
