html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

a,
a:visited,
a:hover,
a:focus {
	color: white;
	text-decoration: none;
	outline:none;
}

/*--------BG IMAGE---------*/
.bgimage {
	background-size:100% 100%;
	width:100%;
	height:100%;
	z-index: 0;
	position: fixed;
}

/*--------LOGO---------*/
#logo {
	z-index: 1000;
	position: fixed;
	top: 0px;
	left: 0px;
	color: white;
	font-size: 45px;
	background-color: rgba(0,0,0,0.8);
	width: 44%;
	height: 100px;
}
#logo p {
	position: absolute;
	top:35px;
	left: 5%;
}
#logoR {
	color: #FF7F00;
	font-weight: bold;
}
#logoP {
	font-family: times;
}

/*--------ORANGE TEXT---------*/
.orangeText{
	color: #FF7F00;
}

/*--------CONTENT BOX---------*/
.contentContainer{
	background-color: rgba(255,255,255,0.8);
	border-bottom:10px solid #FF7F00;
}
.contentBox{
	position: absolute;
	top:12%;
	left:4%;
	overflow-y: auto;
	width: 93%;
	height: 80%;
}
.contentBox h1{
	position: relative;
	top:5px;
	font-size: 40px;
	font-weight: 400;
	vertical-align: bottom;
	font-family: "Helvetica-Condensed", sans-serif;
/*	letter-spacing: 1px;*/
}
.contentBox p{
	font-size: 20px;
	line-height: 24px;
	margin-left: 5px;
	font-family: "Gotham-Book", sans-serif;
}
.contentPoints{
	font-family: "Gotham-Medium", sans-serif !important;
}
.contentLink:visited,
.contentLink:hover,
.contentLink:focus{
	color: #FF7F00;
	text-decoration: underline;
}

/*--------NAV BAR---------*/
.navbar,
.navbar-inverse,
.navbar-fixed-top{
	z-index: 999;
	width: 56%;
	right: 0px;
	left: auto;
}

.navbar-inner{
	height:100px;
	background-color: rgb(0,0,0);
	opacity: 0.8;
	border:none;
}
.container-fluid{
	height:100px;
	background-color: rgb(0,0,0);
}
.navbar .nav{
	font-size: 25px;
	margin-top: 35px;
}
.navbar .nav > li{
	font-family: "Helvetica-Condensed", sans-serif;
	letter-spacing: 1px;
	float: left;
}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle{
	background-color: rgb(0,0,0);
}

/*--------- DROPDOWN----------*/
.navbar .nav .dropdown ul{
	font-family: "Helvetica-Condensed", sans-serif;
}
.navbar .nav>li>.dropdown-menu:before,
.navbar >li>.dropdown-menu:after,
.navbar .nav>li>.dropdown-menu:after {
	display: none;
}

.dropdown-menu{
	top: 63px;
	width: 320px;
	border-radius: 0;
	font-size: 20px;
}
.dropdown-menu li{
	margin-top: 15px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu > li > a:hover,
.dropdown-submenu > li > a:focus
{
	color: #333;
	text-decoration: none;
	background-color: white;
	background-image: none;
	border-left: 5px solid #FF7F00;
	padding-left: 15px;
}

@media(max-width : 1500px) and (orientation:landscape){
	.navbar .nav{
		font-size: 20px;
	}
}

@media(max-width : 1300px) and (orientation:landscape){
	.navbar .nav{
		font-size: 17px;
	}
}
@media(max-width : 1274px) and (orientation:landscape){
/*	.nav-collapse {
		-webkit-transform: translate3d(0, 0, 0);
		height: auto;
		width: 40%;
		min-width: 300px;
		margin: 0px;
	}	
	.navbar-fixed-top {
		position: fixed;
		height: 100px;
		right:0px;
		z-index: 999;
		margin: 0;
	}
	.nav-collapse,
	.nav-collapse.collapse {
		height: 0;
		overflow: hidden;
	}
	.navbar .btn-navbar {
		display: block;
		margin-top: 10px;
	}
	.navbar-inner {
		padding-right: 10px;
		padding-left: 10px;
	}
	.nav-collapse.collapse {
		overflow: hidden !important;
	}
	.nav-collapse {
		clear: both;
	}
	.nav-collapse .nav {
		float: none;
		margin: 0 0 10px;
	}
	.nav-collapse .nav > li {
		float: none;
	}
*/
}