html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

a,
a:visited,
a:hover,
a:focus {
	color: #FF7F00;
	text-decoration: none;
	outline:none;
}

/*--------BG IMAGE---------*/
.bgimage {
	background-size:100% 100%;
	width:100%;
	height:100%;
	z-index: 0;
	position: fixed;
}

/*--------LOGO---------*/
#logo {
	z-index: 1000;
	position: fixed;
	top: 0px;
	left: 0px;
	color: white;
	background-color: rgba(0,0,0,0.8);
	width: 44%;
	height: 100px;
}
#logo img {
	position: absolute;
	top:20px;
	left:20px;
}

#logo a,
a:visited,
a:hover,
a:focus {
	color: white;
	text-decoration: none;
	outline:none;
}

/*--------ORANGE TEXT---------*/
.orangeText{
	color: #FF7F00;
}

/*--------CONTENT BOX---------*/
.contentContainer{
	background-color: rgba(255,255,255,0.8);
	border-bottom:8px solid #FF7F00;
}
.contentBox{
	position: absolute;
	top:8%;
	left:4%;
	overflow-y: auto;
	width: 93%;
	height: 85%;
}
.contentBox h1{
	position: relative;
/*	top:5px;*/
	margin:0px;
	padding:10px 0px 15px;
	font-size: 40px;
	font-weight: 400;
	vertical-align: bottom;
	font-family: "Helvetica-Condensed", sans-serif;
/*	letter-spacing: 1px;*/
}
.contentBox p{
	font-size: 20px;
	line-height: 24px;
	margin-left: 2px;
	font-family: "Gotham-Book", sans-serif;
}
.contentPoints{
	font-family: "Gotham-Medium", sans-serif !important;
}
.contentLink:visited,
.contentLink:hover,
.contentLink:focus{
	color: white;
}

/*--------NAV BAR---------*/
.navbar,
.navbar-inverse,
.navbar-fixed-top{
	z-index: 999;
	width: 56%;
	right: 0px;
	left: auto;
}

.navbar-inner{
	height:100px;
	background-color: rgb(0,0,0);
	opacity: 0.8;
	border:none;
	box-shadow: none!important;
}
.container-fluid{
	height:100px;
	background-color: rgb(0,0,0);
	padding-right: 0px;
}
.navbar .nav{
	font-size: 25px;
	margin-top: 35px;
}
.navbar .nav > li{
	font-family: "Helvetica-Condensed", sans-serif;
	letter-spacing: 1px;
	float: left;
}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle{
	background-color: rgb(0,0,0);
}

/*--------- DROPDOWN----------*/
.navbar .nav .dropdown ul{
	font-family: "Helvetica-Condensed", sans-serif;
}
.navbar .nav>li>.dropdown-menu:before,
.navbar >li>.dropdown-menu:after,
.navbar .nav>li>.dropdown-menu:after {
	display: none;
}

.dropdown-menu{
	top: 63px;
	width: 320px;
	border-radius: 0;
	font-size: 20px;
}
.dropdown-menu li{
	margin-top: 15px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu > li > a:hover,
.dropdown-submenu > li > a:focus
{
	color: #333;
	text-decoration: none;
	background-color: white;
	background-image: none;
	border-left: 5px solid #FF7F00;
	padding-left: 15px;
}

@media(max-width : 1500px) and (orientation:landscape){
	.navbar .nav{
		font-size: 20px;
	}
	#logo {
		font-size: 40px;
	}
	.navbar,
	.navbar-inverse,
	.navbar-fixed-top{
		width: 58%;
	}
	#logo {
		width: 42%;
	}
}

@media(max-width : 1300px) and (orientation:landscape){
	.navbar .nav{
		font-size: 17px;
	}
	#logo {
		font-size: 35px;
	}
	.navbar,
	.navbar-inverse,
	.navbar-fixed-top{
		width: 60%;
	}
	#logo {
		width: 40%;
	}
}

@media(max-width : 1150px) and (orientation:landscape){
	.navbar,
	.navbar-inverse,
	.navbar-fixed-top{
		width: 62%;
	}
	#logo {
		width: 38%;
	}
}

/*-------------TABLET HORIZONTAL----------------*/
@media(max-width : 1024px) and (orientation:landscape){
	.nav-collapse {
		-webkit-transform: translate3d(0, 0, 0);
		height: auto;
		min-width: 300px;
		margin: 0px;
	}	
	.navbar-fixed-top {
		position: fixed;
		height: 100px;
		right:0px;
		z-index: 999;
		margin: 0;
	}
	.navbar .nav > li > a:hover,
	.navbar .nav > li > a:focus {
		color: #333333;
	}
	.navbar .nav > li > a {
		padding: 10px 15px 10px 15px;
	}
	.navbar .nav {
		width:40%;
		background-color: rgb(0,0,0);
		right: 0px;
	}
	.btn, .btn-navbar{
		right: 0;
	}
	.navbar-inner {
		border:none;
		margin: 0;
	}
	.nav-collapse {
		clear: both;
	}
	.nav-collapse .nav {
		float: right;
		margin: 0 0 10px;
	}
	.nav-collapse .nav > li {
		float: none;
	}

	.nav-collapse .nav > li > a {
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
				border-radius: 3px;
	}
	.nav-collapse .btn {
		padding: 4px 10px 4px;
		font-weight: normal;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding-bottom: 25px;
	}
	.nav-collapse .nav > li > a:hover,
	.nav-collapse .nav > li > a:focus {
		background-color: #f2f2f2;
	}
	.nav-collapse,
	.nav-collapse.collapse {
		height: 0;
		overflow: hidden;
		top:41px;
	}

	.navbar .btn-navbar {
		display: block;
		margin-top: 30px;
	}
	.navbar-inner {
		padding-right: 10px;
		padding-left: 10px;
	}
	.nav-collapse.collapse {
		overflow: hidden !important;
	}
	.container-fluid{

	}
}
@media(max-width : 1024px) and (orientation:portrait){
	.container-fluid{
		width: 100%;
	}
	.nav-collapse {
		-webkit-transform: translate3d(0, 0, 0);
		height: auto;
		min-width: 300px;
		margin: 0px;
	}
	
	.navbar-fixed-top {
		position: fixed;
		height: 100px;
		right:0px;
		z-index: 999;
		margin: 0;
	}
	.navbar .nav > li > a:hover,
	.navbar .nav > li > a:focus {
		color: #333333;
	}
	.navbar .nav > li > a {
		padding: 10px 15px 15px 15px;
	}
	.navbar .nav {
		min-width:150px;
		background-color: black;
	}
	.btn, .btn-navbar{
		top:3%;
		right: 0;
	}
	.navbar-inner {
		border:none;
		margin: 0;
	}
	.navbar-fixed-bottom .navbar-inner {
		border:none;
	}
}
@media(max-width : 768px) and (orientation:landscape){
	.container-fluid{
		width: 100%;
	}
	.nav-collapse {
		-webkit-transform: translate3d(0, 0, 0);
		height: auto;
		min-width: 300px;
		margin: 0px;
	}
	.navbar .btn-navbar {
		display: block;
		margin-top: 10px;
	}
	.nav-collapse .nav > li > a:hover,
	.nav-collapse .nav > li > a:focus {
		background-color: #f2f2f2;
	}
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
		padding: 0px;
	}
}