/*------AUTHOR: ONMEDIA.CO------*/

/*--------DOCUMENT STYLING------*/
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
}
/*--------ANCHOR COLORS------*/
a,
a:visited,
a:hover,
a:focus {
	color: #666;
	text-decoration: none;
	outline:none;
}
/*--------BG IMAGE---------*/
.bgimage {
	background-size:100% 100%;
	width:100%;
	height:100%;
	z-index: 0;
	position: fixed;
}
/*--------LOGO---------*/
#logo {
	z-index: 1000;
	position: fixed;
	top: 0px;
	left: 0px;
	color: white;
	height: 60px;
	width:400px;
/*
	width: 51%;
	background-color: rgba(0,0,0,0.9);*/
}
#logo a img {
	position: absolute;
	top:5px;
	left:50px;
	width: 350px;
}
a:visited,
a:hover,
a:focus {
	color: white;
	text-decoration: none;
	outline:none;
}

/*--------ORANGE TEXT---------*/
.orangeText{
	color: #ee4823;
}
/*--------CONTENT BOX---------*/
.contentContainer{
	background-color: rgba(255,255,255,0.8);
	border-bottom:8px solid #ee4823;
	position:absolute;
	top:47%;
	left:54%;
	height:30%;
	width:34%;
}
.contentBox{
	position: absolute;
	top:8%;
	left:4%;
	overflow-y: auto;
	width: 93%;
	height: 85%;
}
.contentBox h1{
	position: relative;
/*	top:5px;*/
	margin:0px;
	padding:0px 0px 10px;
	font-size: 31px;
	font-weight: 400;
	vertical-align: bottom;
	font-family: "Helvetica-Condensed", sans-serif;
/*	letter-spacing: 1px;*/
}
.contentBox p{
	font-size: 20px;
	line-height: 24px;
	margin-left: 2px;
	font-family: "Gotham-Book", sans-serif;
}

.contentBox ul li {
	font-family: "Gotham-Book", sans-serif;
}
.contentPoints{
	font-family: "Gotham-Medium", sans-serif !important;
}
.contentLink:visited,
.contentLink:hover,
.contentLink:focus{
	color: #ee4823;
}
/*--------ARROWS---------*/
.arrow {
	position: fixed;
	top: 47%;
	cursor: pointer;
	height: 90px;
}
#leftscroll {
	left: 0px;
}
#rightscroll {
	right: 0px;
}
/*--------NAV BAR---------*/
.navbar,
.navbar-inverse,
.navbar-fixed-top{
	z-index: 999;
	width: 100%;
	right: 0px;
	left: auto;
}
.navbar-inner{
	height:60px;
	background-color: rgb(0,0,0);
	opacity: 0.9;
	border:none;
	box-shadow: none!important;
}
.container-fluid{
	background-color: rgb(0,0,0);
	height:60px;
	padding-right: 0px;
}
.navbar .nav{
	margin-left: 39%;
	float:right;
	font-size: 25px;
	margin-top: 10px;
}
.navbar .nav > li{
	font-family: "Helvetica-Condensed", sans-serif;
	letter-spacing: 1px;
	float: left;
}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle{
	background-color: rgb(0,0,0);
}
/*--------- DROPDOWN----------*/
.navbar .nav .dropdown ul{
	font-family: "Gotham-Book", sans-serif;
	font-size:17px;
}
.navbar .nav>li>.dropdown-menu:before,
.navbar >li>.dropdown-menu:after,
.navbar .nav>li>.dropdown-menu:after {
	display: none;
}
.dropdown-menu{
	top: 47px;
	width: 280px;
	border-radius: 0;
	font-size: 20px;
	overflow: visible;
}
.dropdown-menu li{
	margin:10px 0px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu > li > a:hover,
.dropdown-submenu > li > a:focus
{
	color: #333;
	text-decoration: none;
	background-color: white;
	background-image: none;
	border-left: 5px solid #ee4823;
	padding-left: 15px;
}
.navbar-inverse .nav>li>a:focus,
.navbar-inverse .nav>li>a:hover {
  color: #999;
}
/*--------MEDIA QUERY(1500px - LANDSCAPE)---------*/
@media(max-width : 1500px) and (orientation:landscape){
	.navbar .nav{
		font-size: 20px;
	}
	.contentBox h1{
		font-size: 28px;
		font-weight: 400;
	}
	.contentBox p{
		font-size: 17px;
	}
}
/*--------MEDIA QUERY(1300px - LANDSCAPE)---------*/
@media(max-width : 1300px) and (orientation:landscape){
	.navbar .nav{
		font-size: 17px;
	}
	.contentBox h1{
		font-size: 26px;
		font-weight: 400;
	}
}
/*--------MEDIA QUERY(1200px - LANDSCAPE)---------*/
@media(max-width : 1200px) and (orientation:landscape){
	.contentBox h1{
		font-size: 24px;
		font-weight: 400;
		padding:0px 0px 9px;
	}
	.contentContainer{
		top:47%;
		left:40%;
		height:40%;
		width:45%;
	}
}
/*--------MEDIA QUERY(1024px - LANDSCAPE)---------*/
@media(max-width : 1024px) and (orientation:landscape){
	/*------LOGO---------*/
	#logo {
		width: 80%;
		background-color: transparent;
	}
	#logo a img {
		width: 350px;
		left:35px;
	}
	/*------CONTENT CONTAINER---------*/
	.contentContainer{
		left:40%;
		height:38%;
		width:45%;
	}
	.contentBox h1{
		font-size: 22px;
		font-weight: 400;
	}
	/*--------NAVBAR---------*/
	.navbar,
	.navbar-inverse,
	.navbar-fixed-top{
		width: 100%;
	}
	.nav-collapse {
		-webkit-transform: translate3d(0, 0, 0);
		height: auto;
		min-width: 300px;
		margin: 0px;
	}
	.navbar-fixed-top {
		position: fixed;
		height: 100px;
		right:0px;
		z-index: 999;
		margin: 0;
	}
	.navbar .nav > li > a:hover,
	.navbar .nav > li > a:focus {
		color: #333333;
	}
	.navbar .nav > li > a {
		padding: 10px 15px 10px 15px;
	}
	.navbar .nav {
		width:40%;
		min-width: 150px;
		background-color: rgb(0,0,0);
		right: 0px;
		font-size: 17px;
	}
	.btn, .btn-navbar{
		right: 0;
	}
	.navbar-inner {
		border:none;
		margin: 0;
	}
	.nav-collapse {
		clear: both;
	}
	.nav-collapse .nav {
		float: right;
		margin: 0 0 10px;
	}
	.nav-collapse .nav > li {
		float: none;
	}

	.nav-collapse .nav > li > a {
		-webkit-border-radius: none;
		   -moz-border-radius: none;
				border-radius: none;
	}
	.nav-collapse .btn {
		padding: 4px 10px 4px;
		font-weight: normal;
		-webkit-border-radius: none;
		-moz-border-radius: none;
		border-radius: none;
		padding-bottom: 25px;
	}
	.nav-collapse .nav > li > a:hover,
	.nav-collapse .nav > li > a:focus {
		background-color: #f2f2f2;
	}
	.nav-collapse,
	.nav-collapse.collapse {
		height: 0;
		overflow: hidden;
		top:15px;
	}
	.dropdown-menu{
		top: 0px;
		left: -281px;
		width: 280px;
		border-radius: 0;
	}
	.navbar .btn-navbar {
		display: block;
		margin-top: 15px;
	}
	.navbar-inner {
		padding-right: 10px;
		padding-left: 10px;
	}
	.nav-collapse.collapse {
		overflow: hidden !important;
	}
}
/*--------MEDIA QUERY(1024px - PORTRAIT)---------*/
@media(max-width : 1024px) and (orientation:portrait){
	/*-------LOGO-----*/
	#logo {
		width: 80%;
		background-color: transparent;
	}
	#logo a img {
		width: 350px;
		left:35px;
	}
	/*------CONTENT CONTAINER---------*/
	.contentContainer{
		left:50%;
		height:38%;
		width:40%;
	}
	/*--------NAVBAR---------*/
	.navbar,
	.navbar-inverse,
	.navbar-fixed-top{
		width: 100%;
	}
	.nav-collapse {
		-webkit-transform: translate3d(0, 0, 0);
		height: auto;
		min-width: 150px;
		margin: 0px;
	}
	.navbar-fixed-top {
		position: fixed;
		height: 100px;
		right:0px;
		z-index: 999;
		margin: 0;
	}
	.navbar .nav > li > a:hover,
	.navbar .nav > li > a:focus {
		color: #333333;
	}
	.navbar .nav > li > a {
		padding: 10px 15px 10px 15px;
	}
	.navbar .nav {
		width:40%;
		min-width: 200px;
		background-color: rgb(0,0,0);
		right: 0px;
		font-size: 17px;
	}
	.btn, .btn-navbar{
		right: 0;
	}
	.navbar-inner {
		border:none;
		margin: 0;
	}
	.nav-collapse {
		clear: both;
	}
	.nav-collapse .nav {
		float: right;
		margin: 0 0 10px;
	}
	.nav-collapse .nav > li {
		float: none;
	}

	.nav-collapse .nav > li > a {
		-webkit-border-radius: none;
		   -moz-border-radius: none;
				border-radius: none;
	}
	.nav-collapse .btn {
		padding: 4px 10px 4px;
		font-weight: normal;
		-webkit-border-radius: none;
		-moz-border-radius: none;
		border-radius: none;
		padding-bottom: 25px;
	}
	.nav-collapse .nav > li > a:hover,
	.nav-collapse .nav > li > a:focus {
		background-color: #f2f2f2;
	}
	.nav-collapse,
	.nav-collapse.collapse {
		height: 0;
		overflow: hidden;
		top:15px;
	}


	.navbar .btn-navbar {
		display: block;
		margin-top: 15px;
	}
	.navbar-inner {
		padding-right: 10px;
		padding-left: 10px;
	}
	.nav-collapse.collapse {
		overflow: hidden !important;
	}
	.nav-collapse .dropdown-menu {
		position: absolute;
		top: 0px;
		left: -281px;
		width: 280px;
		background-color: white;
		overflow: visible;
	}
}
/*--------MEDIA QUERY(900px - LANDSCAPE)---------*/
@media(max-width : 900px) and (orientation:landscape){
	/*--------CONTENT CONTAINER---------*/
	.contentBox h1{
		font-size: 21px;
		font-weight: 400;
	}
	.contentContainer{
		top:47%;
		left:35%;
		height:40%;
		width:55%;
	}
	/*--------SCROLL BUTTONS---------*/
	#leftscroll{
		height: 80px;		
	}
	#rightscroll{
		height: 80px;		
	}
}
/*--------MEDIA QUERY(768px - LANDSCAPE)---------*/
@media(max-width : 768px) and (orientation:landscape){
	/*--------LOGO---------*/
	#logo {
		width: 70%;
		background-color: transparent;
	}
	#logo a img {
		width: 300px;
		left:30px;
	}
	/*--------CONTENT BOX---------*/
	.contentContainer{
		top:47%;
		left:30%;
		height:40%;
		width:55%;
	}
	.contentBox h1{
		font-size: 20px;
		font-weight: 900;
		padding:0px 0px 8px;
	}
	.contentBox p{
		font-size: 16px;
		line-height: 22px;
	}
	.contentBox ul li {
		font-size:14px;
	}
	/*--------SCROLL BUTTONS---------*/
	#leftscroll{
		height: 75px;		
	}
	#rightscroll{
		height: 75px;		
	}
}
/*--------MEDIA QUERY(768px - PORTRAIT)---------*/
@media(max-width : 768px) and (orientation:portrait){
	/*--------LOGO)---------*/
	#logo {
		width: 70%;
		background-color: transparent;
	}
	#logo a img {
		width: 280px;
		left:28px;
		top:10px;
	}
	/*--------CONTENT CONTAINER---------*/
	.contentContainer{
		top:44%;
		left:30%;
		height:40%;
		width:55%;
	}	
	.contentBox h1{
		font-size:20px;
		font-weight: 500;
		padding:0px 0px 5px;
	}
	.contentBox p{
		font-size: 15px;
		line-height: 22px;
	}
	.contentBox ul li {
		font-size:13px;
	}
	#leftscroll{
		height: 75px;		
	}
	#rightscroll{
		height: 75px;		
	}
}
/*--------MEDIA QUERY(600px - LANDSCAPE)---------*/
@media(max-width : 600px) and (orientation:landscape){
	/*-------CONTENT CONATINER---------*/
	.contentContainer{
		top:47%;
		left:25%;
		height:40%;
		width:65%;
	}
	.contentBox h1{
		font-size: 18px;
		font-weight: 900;
		padding:0px 0px 8px;
	}
	.contentBox p{
		font-size: 16px;
		line-height: 20px;
	}
	.contentBox ul li {
		font-size:14px;
	}
	/*--------SCROLL BUTTONS---------*/
	#leftscroll{
		height: 70px;		
	}
	#rightscroll{
		height: 70px;		
	}
}
/*--------MEDIA QUERY(600px - PORTRAIT)---------*/
@media(max-width : 600px) and (orientation:portrait){
	/*--------CONTENT CONTAINER---------*/
	.contentContainer{
		top:42%;
		left:30%;
		height:40%;
		width:60%;
	}	
	
	#logo a img {
		top:15px;
}
	.contentBox h1{
		font-size:19px;
		font-weight: 550;
		padding:0px 0px 5px;
	}
	.contentBox p{
		font-size: 15px;
		line-height: 20px;
	}
	.contentBox ul li {
		font-size:13px;
	}
	/*--------SCROLL BUTTONS---------*/
	#leftscroll{
		height: 60px;		
	}
	#rightscroll{
		height: 60px;		
	}
}
/*--------MEDIA QUERY(500px - LANDSCAPE)---------*/
@media(max-width : 500px) and (orientation:landscape){
	/*--------LOGO---------*/
	#logo {
		width: 65%;
		background-color: transparent;
	}
	#logo a img {
		width: 250px;
		left: 25px;
		top:15px;
	}
	/*--------CONTENT CONTAINER---------*/
	.contentContainer{
		top:40%;
		left:10%;
		height:45%;
		width:80%;
	}
	.contentBox h1{
		font-size: 17px;
		font-weight: 600;
		padding:0px 0px 0px;
	}	
	.contentBox p{
		font-size: 14px;
		line-height: 18px;
	}
	.contentBox ul li {
		font-size:12px;
	}	
	/*--------SCROLL BUTTONS---------*/
	#leftscroll{
		height: 50px;		
	}
	#rightscroll{
		height: 50px;		
	}
	/*--------NAVBAR---------*/
	.nav-collapse .dropdown-menu {
		position: absolute;
		top: 0px;
		left: -251px;
		width: 250px;
		background-color: white;
		overflow: visible;
	}
	.navbar .nav .dropdown ul{
		font-size:15px;
	}
}
/*--------MEDIA QUERY(500px - PORTRAIT)---------*/
@media(max-width : 500px) and (orientation:portrait){
	/*--------LOGO---------*/
	#logo {
		width: 65%;
		background-color: transparent;
	}
	#logo a img {
		width: 225px;
		left: 20px;
	}
	/*--------CONTENT CONTAINER---------*/
	.contentContainer{
		top:44%;
		left:15%;
		height:40%;
		width:75%;
	}	
	.contentBox h1{
		font-size:16px;
		font-weight: 700;
		padding:0px 0px 0px;
	}
	.contentBox p{
		font-size: 13px;
		line-height: 18px;
	}
	.contentBox ul li {
		font-size:13px;
	}
	/*--------SCROLL BUTTONS---------*/
	#leftscroll{
		height: 50px;		
	}
	#rightscroll{
		height: 50px;		
	}
	/*--------NAVBAR---------*/
	.nav-collapse .dropdown-menu {
		position: static;
		top: auto;
		margin-top: -1px;
		margin-left: -50px;
		width: 250px;
		background-color: white;
	}
	.navbar .nav li{
		font-size:15px;
	}
	.nav{
		z-index: 900;
	}
	/*--------DROPDOWN---------*/
	#serviceDropdown {
		z-index: 950;
	}
	#treatmentDropdown{
		z-index: 949;
	}
}
/*--------MEDIA QUERY(0px-320px - LANDSCAPE)---------*/
@media(max-width : 320px) and (min-width : 0px) and (orientation:landscape){
	/*--------LOGO---------*/
	#logo {
		top:10px;
		left: 20px;
		width: 55%;
		background-color: transparent;
	}
	#logo a img {
		width: 200px;
		left: 20px;
	}
	/*--------CONTENT CONTAINER---------*/
	.contentContainer{
		top:40%;
		left:15%;
		height:40%;
		width:75%;
	}
	.contentBox h1{
		font-size: 14px;
		font-weight: 600;
		padding:0px 0px 0px;
	}	
	.contentBox p{
		font-size: 12px;
		line-height: 13px;
	}
	.contentBox ul li {
		font-size:10px;
	}
	/*--------SCROLL BUTTONS---------*/
	#leftscroll{
		height: 40px;		
	}
	#rightscroll{
		height: 40px;		
	}
}
/*--------MEDIA QUERY(0px-320px - PORTRAIT)---------*/
@media(max-width : 320px) and (min-width : 0px)and (orientation:portrait){
	/*--------LOGO---------*/
	#logo {
		top:10px;
		left: 20px;
		width: 55%;
		background-color: transparent;
	}
	#logo a img {
		width: 200px;
		left: 20px;
	}
	/*--------CONTENT CONTAINER---------*/
	.contentContainer{
		top:30%;
		left:10%;
		height:60%;
		width:80%;
	}	
	.contentBox h1{
		font-size: 15px;
		font-weight: 500;
		padding:0px 0px 0px;
	}
	.contentBox p{
		font-size: 13px;
		line-height: 22px;
	}
	.contentBox ul li {
		font-size:11px;
	}
	/*--------SCROLL BUTTONS---------*/
	#leftscroll{
		height: 40px;		
	}
	#rightscroll{
		height: 40px;		
	}
}