#bgimage1 {
	background-image:url(../img/Services/1-on-1.jpg);
}
#bgimage2 {
	background-image:url(../img/Services/2to1_training.jpg);
}
#bgimage3 {
	background-image:url(../img/Services/Group-Session.jpg);
}
#bgimage4 {
	background-image:url(../img/Services/Bio-Modulation.jpg);
}
@media(max-width : 768px) and (orientation:portrait){
	#bgimage1 {
		background-image:url(../img/Services/1-on-1_768.jpg);
	}
	#bgimage2 {
		background-image:url(../img/Services/2to1_training768.jpg);
	}
	#bgimage3 {
		background-image:url(../img/Services/Group-Session768.jpg);
	}
	#bgimage4 {
		background-image:url(../img/Services/Bio-Modulation768.jpg);
	}	
	
}

/*.contentContainer{
	position:absolute;
	top:47%;
	left:54%;
	height:30%;
	width:34%;
}
.arrow {
	position: fixed;
	top: 47%;
	cursor: pointer;
	height: 90px;
}
#leftscroll {
	left: 0px;
}
#rightscroll {
	right: 0px;
}*/