#bgimage1 {
	background-image:url(../img/Services/1-on-1.jpg);
}
#bgimage2 {
	background-image:url(../img/Services/2to1_training.jpg);
}
#bgimage3 {
	background-image:url(../img/Services/Group-Session.jpg);
}
#bgimage4 {
	background-image:url(../img/Services/Bio-Modulation.jpg);
}

.contentContainer{
	position:absolute;
	top:45%;
	left:44%;
	height:40%;
	width:44%;
}
.arrow {
	position: fixed;
	top: 40%;
	cursor: pointer;
	height: 90px;
}
#leftscroll {
	left: 0px;
}
#rightscroll {
	right: 0px;
}