#bgimage {
	background-image:url(../img/services.jpg);
}
.contentContainer{
	position:absolute;
	top:45%;
	left:44%;
	height:40%;
	width:44%;
}
.arrow {
	position: fixed;
	top: 40%;
	cursor: pointer;
}
#leftscroll {
	left: 0px;
}
#rightscroll {
	right: 0px;
}