/*------AUTHOR: ONMEDIA.CO------*/

/*------BACKGROUND IMAGES------*/
#bgimage1 {
	background-image:url(../img/Treatment/fst.jpg);
}
#bgimage2 {
	background-image:url(../img/Treatment/fis.jpg);
}
#bgimage3 {
	background-image:url(../img/Treatment/nat.jpg);
}
/*------MEDIA QUERY: 768(PORTRAIT)------*/
@media(max-width : 768px) and (orientation:portrait){
	/*------BACKGROUND IMAGES------*/
	#bgimage1 {
		background-image:url(../img/Treatment/fst_768.jpg);
	}
	#bgimage2 {
		background-image:url(../img/Treatment/fis_768.jpg);
	}
	#bgimage3 {
		background-image:url(../img/Treatment/nat_768.jpg);
	}	
}