
#bgimage1 {
	background-image:url(../img/Treatment/Fascial-Stretch-Therapy.jpg);
}
#bgimage2 {
	background-image:url(../img/Treatment/Far-Infrared-Sauna.jpg);
}

/*#bgimage3 {
	background-image:url(../img/Treatment/treatments.jpg);
}*/

.contentContainer{
	position:absolute;
	top:45%;
	left:44%;
	height:40%;
	width:44%;
}
.arrow {
	position: fixed;
	top: 47%;
	cursor: pointer;
	height:80px;
}
#leftscroll {
	left: 0px;
}
#rightscroll {
	right: 0px;
}